@model SklepInternetowy.ViewModels.HomeViewModel
@using SklepInternetowy.Infrastructure;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sklep";
}

<!--Kursy-->
<nav class="kategorieHorizontal">
    <ul>
        @foreach ( var kategoria in Model.Kategorie )
        {
            <li>
                <a href="@Url.Action("List","Kursy",new { nazwaKategorii = kategoria.NazwaKategorii.ToLower() } )"
                   style="background-image: url( @Url.IkonyKategoriiSciezka( kategoria.NazwaPlikuIkony ) ); ">

                    @kategoria.NazwaKategorii

                </a>
            </li>
        }
    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>


<!--Nowosci-->
<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">

        @foreach ( var nowosc in Model.Nowosci )
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk",new { id = nowosc.KursId } )">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly","Kursy",new { id = nowosc.KursId } )">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(nowosc.NazwaPlikuObrazka)" />
                        <h1>
                            @nowosc.TytulKursu - @nowosc.AutorKursu
                        </h1>
                    </a>
                </article>
            </li>
        }
        
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaLista Kursy">

        @foreach(var kategoria in Model.Kategorie )
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id=kategoria.KategoriaID} )">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony)" />
                        <h1>
                            @kategoria.NazwaKategorii
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</section>
